@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');

:root{--primarycolor:#6B7280;

}

body{
font-family: 'Tajawal', sans-serif;

margin:0;
background: linear-gradient(to right top, #071931 0%, #33274f 50%, #661e43 100%);

}

#heading{
    /* background-color:var(--primarycolor); */
   color: white;
   display: block;
   margin-left: 14rem;
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 700;
    letter-spacing: -.009em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.textarea{
    text-align: center;
    display: block;
    margin: auto;
    padding: 2rem;
    
    border-spacing: 2ch;
    font: 1000;
    box-sizing: 4rem;
    width: 25%;
    column-gap: 2rem;
    font-size: large;

}
#spacing{
   padding: 1.5rem; 
}
.background{
color: black;
background-color:var(--primarycolor);
font:bold;
font-size: large;

width: 350px;
max-width: 100%;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.img{
    /* background-image: url(img/fig1.svg); */
}